In [1]:
import mintapi
import csv
import pandas as pd
import re
from lib.functions import *

In [2]:
LIB_PATH = "./lib/"

In [3]:
upw = eval(openFile(path=LIB_PATH, file='password.pw'))
# mintparams = openFile(path=LIB_PATH, file='mintparams.json')

In [4]:
upw

{'email': 'wcasey17@gmail.com', 'password': 'Sand45top%'}

In [5]:
mintparams = {
        'mfa_method':'sms'
        ,'headless': True
        , 'mfa_input_callback': None
        , 'session_path': None
        , 'imap_account': None
        , 'imap_password': None
        , 'imap_server': None
        , 'imap_folder':'INBOX'
        , 'wait_for_sync': False
        , 'wait_for_sync_timeout': 300
}

In [6]:
mintparams.update(upw)

In [7]:

mintparams

{'mfa_method': 'sms',
 'headless': True,
 'mfa_input_callback': None,
 'session_path': None,
 'imap_account': None,
 'imap_password': None,
 'imap_server': None,
 'imap_folder': 'INBOX',
 'wait_for_sync': False,
 'wait_for_sync_timeout': 300,
 'email': 'wcasey17@gmail.com',
 'password': 'Sand45top%'}

In [8]:
mint = mintapi.Mint(**mintparams)

Please enter your 6-digit MFA code: 023754

In [9]:
parse_and_write_transactions(mint.get_transactions_csv())

In [10]:
pd.read_csv('transactions.csv', delimiter=",")

,"""Date""","""Description""","""Original Description""","""Amount""","""Transaction Type""","""Category""","""Account Name""","""Labels""","""Notes"""
0,"""11/12/2019""","""Apple""","""APPLE.COM/BILL ,CA""","""12.97""","""debit""","""Electronics & Software""","""Checking""","""""",""""""
1,"""11/12/2019""","""McDonald's""","""MCDONALD.S F180,ABILENE ,TX""","""4.32""","""debit""","""Fast Food""","""Checking""","""""",""""""
2,"""12/14/2019""","""ATM Fee""","""A387870 299 ELLIS ST. SAN FRANCISCO""","""2.50""","""debit""","""ATM Fee""","""Investor Checking""","""""",""""""
3,"""12/14/2019""","""A387870 299 ELLIS ST. SAN FRANCISCO""","""A387870 299 ELLIS ST. SAN FRANCISCO""","""20.00""","""debit""","""Cash & ATM""","""Investor Checking""","""""",""""""
4,"""12/13/2019""","""Subway""","""SUBWAY 00502815""","""6.49""","""debit""","""Fast Food""","""CREDITCARD Account""","""""",""""""
...,...,...,...,...,...,...,...,...,...
294,"""8/12/2019""","""Budget Rent""","""BUDGET RENT-A-CAR""","""117.59""","""debit""","""Rental Car & Taxi""","""CREDITCARD Account""","""""",""""""
295,"""8/11/2019""","""TRANSFER FROM ACCT 2 Online Transaction 08/11...","""TRANSFER FROM ACCT 2""","""4.00""","""credit""","""Transfer""","""Checking""","""""",""""""
296,"""8/11/2019""","""TRANSFER FROM MBR ***31 ACCT 2 Online Transac...","""TRANSFER FROM MBR ***31 ACCT 2""","""500.00""","""credit""","""Transfer""","""Other Savings""","""""",""""""
297,"""8/11/2019""","""TRANSFER TO ACCT 8 Online Transaction 08/11/2...","""TRANSFER TO ACCT 8""","""4.00""","""debit""","""Transfer""","""Taxes""","""""",""""""
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN