In [1]:
import mintapi
import csv
import pandas as pd
import re
from lib.functions import *

In [3]:
upw = eval(openFile(path='./lib/', file='password.pw'))

In [6]:
kwargs = {
        'mfa_method':'sms'
        ,' headless': True
        , 'mfa_input_callback': None
        , 'session_path': None
        , 'imap_account': None
        , 'imap_password': None
        , 'imap_server': None
        , 'imap_folder':'INBOX'
        , 'wait_for_sync': False
        , 'wait_for_sync_timeout': 300
}

In [7]:
mintapi.Mint(email=upw['username'], password=upw['password'], **kwargs)

TypeError: __init__() got an unexpected keyword argument ' headless'

In [120]:
mint = mintapi.Mint(
'wcasey17@gmail.com'  # Email used to log in to Mint
'Sand45top%'  # Your password used to log in to mint
**kwargs
)

TypeError: __init__() got an unexpected keyword argument ' headless'

In [117]:

transactions = str(mint.get_transactions_csv(), 'utf-8').split("\n")
transactions = [re.split(r',(?=")', t) for t in transactions]

In [115]:
with open('transactions.csv', 'w') as f:
    writer = csv.writer(f)
    for row in transactions:
        writer.writerow(row)

In [116]:
pd.read_csv('transactions.csv', delimiter=",")

,"""Date""","""Description""","""Original Description""","""Amount""","""Transaction Type""","""Category""","""Account Name""","""Labels""","""Notes"""
0,"""11/12/2019""","""Apple""","""APPLE.COM/BILL ,CA""","""12.97""","""debit""","""Electronics & Software""","""Checking""","""""",""""""
1,"""11/12/2019""","""McDonald's""","""MCDONALD.S F180,ABILENE ,TX""","""4.32""","""debit""","""Fast Food""","""Checking""","""""",""""""
2,"""12/14/2019""","""ATM Fee""","""A387870 299 ELLIS ST. SAN FRANCISCO""","""2.50""","""debit""","""ATM Fee""","""Investor Checking""","""""",""""""
3,"""12/14/2019""","""A387870 299 ELLIS ST. SAN FRANCISCO""","""A387870 299 ELLIS ST. SAN FRANCISCO""","""20.00""","""debit""","""Cash & ATM""","""Investor Checking""","""""",""""""
4,"""12/13/2019""","""Subway""","""SUBWAY 00502815""","""6.49""","""debit""","""Fast Food""","""CREDITCARD Account""","""""",""""""
...,...,...,...,...,...,...,...,...,...
294,"""8/12/2019""","""Budget Rent""","""BUDGET RENT-A-CAR""","""117.59""","""debit""","""Rental Car & Taxi""","""CREDITCARD Account""","""""",""""""
295,"""8/11/2019""","""TRANSFER FROM ACCT 2 Online Transaction 08/11...","""TRANSFER FROM ACCT 2""","""4.00""","""credit""","""Transfer""","""Checking""","""""",""""""
296,"""8/11/2019""","""TRANSFER FROM MBR ***31 ACCT 2 Online Transac...","""TRANSFER FROM MBR ***31 ACCT 2""","""500.00""","""credit""","""Transfer""","""Other Savings""","""""",""""""
297,"""8/11/2019""","""TRANSFER TO ACCT 8 Online Transaction 08/11/2...","""TRANSFER TO ACCT 8""","""4.00""","""debit""","""Transfer""","""Taxes""","""""",""""""
298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
pd.read_csv()

OSError: Expected file path name or file-like object, got <class 'bytes'> type

In [6]:
df = mint.get_detailed_transactions()

In [9]:
df

,date,note,isPercent,fi,txnType,numberMatchedByRule,isEdited,isPending,mcategory,isMatched,...,isCheck,omerchant,isDebit,category,ruleMerchant,isLinkedToRule,account,categoryId,ruleCategoryId,pid
0,Dec 14,,False,Charles Schwab Bank - Investor Checking,0,-1,False,False,ATM Fee,False,...,False,A387870 299 ELLIS ST. SAN FRANCISCO,True,ATM Fee,,False,Investor Checking,1605,0,1.752839e+09
1,Dec 14,,False,Charles Schwab Bank - Investor Checking,0,-1,False,False,Cash & ATM,False,...,False,A387870 299 ELLIS ST. SAN FRANCISCO,True,Cash & ATM,,False,Investor Checking,2001,0,1.752839e+09
2,Dec 13,,False,Capital One - Credit Cards,0,-1,False,False,Fast Food,False,...,False,SUBWAY 00502815,True,Fast Food,,False,CREDITCARD Account,706,0,NaN
3,Dec 13,,False,Capital One - Credit Cards,0,-1,False,False,Shopping,False,...,False,Etsy.com - GLDNxLayeredAn,True,Shopping,,False,CREDITCARD Account,2,0,NaN
4,Dec 13,,False,Charles Schwab Bank - Investor Checking,0,-1,False,False,Paycheck,False,...,False,POSTMATES INC DIRECT DEP 191213,False,Paycheck,,False,Investor Checking,3001,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,Aug 12,,False,Capital One - Credit Cards,0,-1,False,False,Electronics & Software,False,...,False,BEST BUY 00010454,True,Electronics & Software,,False,CREDITCARD Account,204,0,NaN
292,Aug 12,,False,Capital One - Credit Cards,0,-1,False,False,Rental Car & Taxi,False,...,False,BUDGET RENT-A-CAR,True,Rental Car & Taxi,,False,CREDITCARD Account,1503,0,NaN
293,Aug 11,,False,Abilene State School CU (Now Abilene Teachers ...,0,-1,False,False,Transfer,False,...,False,TRANSFER FROM ACCT 2,False,Transfer,,False,Checking,21,0,NaN
294,Aug 11,,False,Abilene State School CU (Now Abilene Teachers ...,0,-1,False,False,Transfer,False,...,False,TRANSFER FROM MBR ***31 ACCT 2,False,Transfer,,False,Other Savings,21,0,NaN
295,Aug 11,,False,Abilene State School CU (Now Abilene Teachers ...,0,-1,False,False,Transfer,False,...,False,TRANSFER TO ACCT 8,True,Transfer,,False,Taxes,21,0,NaN